* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background: url("img/background.jpg") no-repeat center center/cover;
}
.container {
  width: 80%;
  max-width: 1100px;
  margin: auto;
  color: rgb(63, 58, 58);
}

/* Header */
.main-nav a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* End of header */
